.navbar{
  background-color:green;
  padding:1%;
  font-size: 50px;
  display:flex;
  justify-content: space-around;
  font-style:sans-serif;
  font-weight: bold;
}
.navbar a{
  text-decoration:none;
}
.navbar a:hover{
  background-color:white;
  color:red;
}
.not{
  color:red;
}
.pro{
  display:;
}
.vij{
  color:maroon;
}
.login{
  color:4px solid #fdb347 ;
}
